@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

html {
    --primary-color: #cb252b;
    --secondary-color: #2f2e7a;
    --font-amiri: 'Amiri', serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-amiri)
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1rem;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-family: var(--font-open-sans);
    margin: 1.5rem 0;
}

/* Typography  */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-amiri);
    text-transform: capitalize;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.text-blue {
    color: var(--secondary-color);
    transition: color .3s ease-in-out;
}

.text-blue:hover {
    color: var(--primary-color);
}

/* page titles for each page  */

.page-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bg-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
}

.page-title {
    position: relative;
    z-index: 999;
}

.breadcrumb-active {
    color: var(--primary-color);
}

/* dividers border  */

.section-title-border {
    position: relative;
    height: 5px;
    width: 30px;
    background: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.section-title-border::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: var(--primary-color);
    border-radius: 10px;
    right: -60%;
    top: 0;
}

.section-title-border::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 25%;
    background: var(--secondary-color);
    border-radius: 10px;
    right: -100%;
    top: 0;
}

/* social share icons  */

.social-share-icons .bx {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.bxl-facebook {
    background: #3B5998;
    color: white;
}

.bxl-linkedin {
    background: #007bb5;
    color: white;
}

.bxl-whatsapp {
    background: #00b489;
    color: white;
}

.bxl-twitter {
    background: #55ACEE;
    color: white;
}


/* top header  */

.container {
    z-index: 99;
}


.top-header {
    background: var(--secondary-color);
    min-height: 5rem;
    display: flex;
    align-items: center;
}

.top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-left-header {
    display: flex;
}

.top-left-header .phone .bi,
.mail .bi {
    color: white;
    font-size: 1.2rem;
    padding-right: .5rem;
}

.top-left-header .phone a,
.mail a {
    color: white;
    font-size: 1.3rem;
}

.top-left-header .phone {
    padding-right: 1rem;
}

/* button  */

.btn {
    padding: .5rem 1.3rem;
    background: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    border-radius: 0px;
}

.btn:hover {
    background: white;
    color: var(--secondary-color);
}

/* navigation menu  */

nav {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: grid;
    place-content: center;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.nav-links a {
    color: var(--secondary-color);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    transition: all .2s linear;
}

.nav-active {
    background-color: var(--primary-color);
    color: white !important;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.nav-links a:hover {
    background-color: var(--primary-color);
    color: white;
}

header {
    box-shadow: #5858581c 0px 3px 14px 0px;
    padding: .5rem 0;
}

.nav-logo img {
    width: 70%;
}

/* custom dropdown menu  */

.dropbtn {
    
    color: var(--secondary-color);
    padding: 16px;
    font-size: 20px;
    border: none;
    background: #fff;
  }
.dropbtn:hover{
    
    background: var(--primary-color);
    color: #fff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: var(--primary-color);
    min-width: 123px;
    color: rgb(255, 255, 255);
    z-index: 1;
    top: 60px;
}
  
.dropdown-content a {
    color: var(--secondary-color);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    
}
  
  .dropdown-content a:hover {background-color: var(--primary-color)}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  

/* custom dropdown menu end */

.bg-light {
    
    display: none;
}
@media (max-width:762px) {
    .bg-light {
    
        display: block;
    }
    nav {
        display: none;
    }
    .top-header-container{
        text-align: center;
        flex-direction: column;
    }
}
 /* header section design  */
 img{
    max-width: 100%;
}
body{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    transition: all .3s ease-in-out;
}
h1,h2,h3,h4{
    font-family: var(--primary-font);
}
 /* header section design end */




 /* ============================================= */

/* hero section design  */
.hero-section{
    background-image: url(../images/blog/hero.jpg);
    background-position: center;
    background-size: cover;
    padding: 4rem 0;
}
.hero-section h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    margin-top: 7rem;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0;
}
/* hero section design end */


/* blog right design  */
.blog-box{
    border: 1px solid #f0f1f2;
    margin-bottom: 2rem;
    
}
.img-box{
    object-fit: cover;
    overflow: hidden;
}
.img-box img{
    transition: all .3s ease-in-out;
}
.img-box img:hover{
    transform: scale(1.05);
}
.box-content{
    padding: 1rem 0.3rem;
}
.box-content h3 a{
    font-size: 1.8rem;
    color: #31354c;
}
.box-content h3 a:hover{
     color: #0073bb;
     
}
.box-content a{
    font-size: 1.rem;
}
.box-content ul{
    list-style: none;
    padding-left: 0.7rem;
    display: inline-block;
}
.box-content ul li::before{
    content: "\2022";
  color: var(--text-color);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
/* blog right design end */

/* blog left design  */
.search-bar{
    display: flex;
    justify-content: space-between;
    border: 1px solid #f0f1f2;
    padding: 1rem;
    align-items: center;
    
    
}

.search-bar input{
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--primary-font);
    max-width: 50%;
    
}
.bi-search{
    font-size: 1.2rem;
    font-weight: 600;
}
.sidebar-menu{
    position: relative;
}
.sidebar-menu h3{
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 600;
    color: #707070;
    font-family: var(--primary-font);
    margin-left: 0.6rem;
}
.sidebar-menu h3::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 1.2rem;
    background: #e47735;
    left: 0;
    top: 26px;
    
}
.sidebar-menu ul{
    list-style: none;
    padding-left: 0;
    
}
.sidebar-menu ul li{
    border: 1px solid #f0f1f2;
    padding: 1rem;
    
}

.left-blog{
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #f0f1f2;
    padding: 1rem 0;
}
.last-child{
    border-bottom: 1px solid #f0f1f2;
    padding-bottom: 0;
}
.left-blog-img img{
    object-fit: cover;
}
.left-blog-img {
    flex-basis: 65%;
    padding-top: 0.5rem;
}
.right-blog-content h3{
    padding-top: 0;
    
}
.right-blog-content h3 a{
    color: #31354c;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 500;
    
}


/* blog left design end */


/* paginason sectin design  */

  .pagination-flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .pagination-flex a{
      padding: 1rem 1.5rem;
      
      font-size: 1.2rem;
      text-transform: uppercase;
  }

  .pagination-btn{
    border: 1px solid #f0f1f2;
    padding: 0.7rem 1.8rem;
  }
  .pagination-btn:hover{
    background: #0073bb;
    color: var(--text-color);
  }
  .pagination-btn a:hover{
    color: #fff;
  }
  
  .pagination-item :first-child{
    border: 1px solid #f0f1f2;
  }
/* paginason sectin design end */


/* footer  */
footer h5 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-color);
    border-left: .4rem solid var(--primary-color);
    padding: 0rem 1.5rem;
}

footer p {
    margin-top: 1rem;
}

.footer-icon {
    margin-top: 1rem;
}

.footer-icon i {
    color: white;
    background: var(--primary-color);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.footer-info .mail a,
.footer-info .phone a {
    color: #2f2e7a;
    font-size: 1.2rem;
}

.footer-info .mail .bi,
.footer-info .phone .bi {
    color: #cb252b;
    font-size: 1.2rem;
}

.footer-info .phone .bi {
    margin-right: .5rem;
}

.footer-text {
    margin-top: 1.5rem;
}

.footer-copyright {
    background: var(--secondary-color);
    padding: .5rem 0;
}

.footer-copyright p {
    color: white;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
/* footer end */


